# Supabase Postgres connection string
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/postgres?schema=public"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/postgres"

# Auth.js
AUTH_SECRET=
AUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"

# google auth 
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Email
GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-16-character-app-password
CONTACT_EMAIL=your-email@gmail.com
